.Chat-main
  .Chat-main__group
    .Chat-main__grouptop
      .Chat-main__grouptop-name
        =@group.name      
      = link_to edit_group_path(@group), class: "Chat-main__grouptop-edit" do 
        Edit
    .Chat-main__groupbottom
      ="Member:" + @group.users.pluck(:name).join(", ")
 
  .Chat-main__message
    - @messages.each do |message|
      .Chat-main__messageinfo
        .Chat-main__messageinfo-name
          = message.user.name
        .Chat-main__messageinfo-daytime
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .Chat-main__message-text
        - if message.content.present?
          = message.content
        = image_tag message.image.url, class: 'Message__image' if message.image.present?

  .Chat-main__post
    = form_with model: [@group, @message], html: {class: "Chat-main__post-contents"}, local: true do |f|
      .Chat-main__post-form
        = f.text_field :content, class: 'Chat-main__post-text', placeholder: 'type a message'
        = f.label :image, class: 'Chat-main__post-img' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Chat-main__post-img__file'
      = f.submit 'Send', class: 'Chat-main__post-send'
    

